[package]
name = "warp"
version = "0.0.1"
authors = ["TODO"]
description = "TODO"
repository = "TODO"
include = ["Cargo.toml", "src", "README.md", "LICENSE-APACHE", "LICENSE-MIT"]
edition = "2021"

[dependencies]
ark-bls12-381 = "0.5.0"
ark-ec = "0.5.0"
ark-ff = "0.5.0"
ark-crypto-primitives = { version = "0.5.0", features = ["merkle_tree", "crh", "r1cs", "sponge"] }
ark-poly = "0.5.0"
ark-groth16 = "0.5.0"
ark-std = "0.5.0"
ark-relations = "0.5.0"
ark-r1cs-std = "0.5.0"
ark-bn254 = "0.5.0"
serde = { version = "1.0.0", features = ["derive"]}
serde_json = "1.0"
spongefish = { git = "https://github.com/arkworks-rs/spongefish", branch = "main" }
spongefish-poseidon = { git = "https://github.com/arkworks-rs/spongefish", package = "spongefish-poseidon", branch = "main", features = ["bls12-381"] }
ark-serialize = "0.5.0"
zeroize = { version = "1.5", features = ["derive"] }

[dev-dependencies]
criterion = "0.4"
blake3 = "1.3"

[[bench]]
name = "poseidon_hash"
harness = false

[[bench]]
name = "reed_solomon"
harness = false
