[package]
name = "warp"
version = "0.0.1"
authors = ["TODO"]
description = "TODO"
repository = "TODO"
include = ["Cargo.toml", "src", "README.md", "LICENSE-APACHE", "LICENSE-MIT"]
edition = "2021"

[dependencies]
ark-crypto-primitives = { version="0.5.0", features = ["merkle_tree"] }
ark-ff = "0.5.0"
ark-poly = "0.5.0"
ark-serialize = "0.5.0"
ark-std ="0.5.0"
